<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liaoyun.mapper.RiskControlMapper">


    <select id="selectAmountDailyLimit" resultType="java.math.BigDecimal">
        select amount_daily_limit
        from customer_risk_control
        where customer_id = #{customerId}
    </select>
</mapper>