<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liaoyun.mapper.UserMapper">
    <insert id="insertUserPassword">
        insert into app_user_password (user_id,user_name) values (LAST_INSERT_ID(),#{userName})
    </insert>
    <insert id="inserterUserInfo">
        INSERT INTO app_user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phoneNumber != null">phone_number,</if>
            <if test="identityCard != null">identity_card,</if>
            <if test="permissions != null">permissions,</if>
<!--            <if test="isBind != null">is_bind,</if>-->
            <!-- 其他属性 -->
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phoneNumber != null">#{phoneNumber},</if>
            <if test="identityCard != null">#{identityCard},</if>
            <if test="permissions != null">#{permissions},</if>
<!--            <if test="isBind != null">#{isBind},</if>-->
            <!-- 其他属性 -->
        </trim>
    </insert>
    <insert id="inserterUserPaymentPassword">
        insert into app_user_payment_password
        (user_id)
        values
        (LAST_INSERT_ID())
    </insert>
    <update id="updateBankCardBalance">
        update bank_card set balance = #{newBalance} where card_id = #{cardId}
    </update>
    <update id="updateAppPassword">
        update app_user_password set password = #{password} where user_id = #{userId}
    </update>
    <update id="updateCustomerInfo">
        UPDATE customer
        <set>
            <if test="surname != null">surname = #{surname},</if>
            <if test="name != null">name = #{name},</if>
            <if test="address != null">address = #{address},</if>
            <if test="email != null">email = #{email},</if>
            <if test="userId != -1">user_id = #{userId},</if>
            <!-- 其他属性 -->
        </set>
        WHERE customer_id = #{customerId}
    </update>
    <update id="updateAppUserInfo">
        UPDATE app_user_info
        <set>
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
            <if test="identityCard != null">Identity_card = #{identityCard},</if>
            <if test="permissions != null">permissions = #{permissions},</if>
            <if test="isBind != -1">is_bind = #{isBind},</if>
        </set>
        WHERE user_id = #{userId}
    </update>
    <update id="updatePaymentPassword">

    </update>
    <update id="updateFailedAttempts">
        update app_user_password
        set failed_attempts = failed_attempts + 1
        where user_name = #{userName}
    </update>
    <update id="updateUserPaymentPassword">
        update app_user_payment_password
        set payment_password = #{encodePassword}
        where user_id = #{userId}
    </update>
    <select id="selectOne" resultType="com.liaoyun.domain.dataBaseType.AccountUserPassword">
        select * from app_user_password where user_name=#{username}
    </select>
    <select id="selectPermissionsById" resultType="java.lang.String">
        select permissions from app_user_info where user_id = #{userId}
    </select>
    <select id="selectCustomerIdByUserId" resultType="java.lang.Integer">
        select customer_id from app_user_info where user_id = #{userId}
    </select>
    <select id="selectBalanceByCustomerId" resultType="com.liaoyun.domain.dataBaseType.BankCardInfo">
        select balance from bank_card where customer_id = #{customerId}
    </select>
    <select id="selectBankCardsByCustomerId" resultType="com.liaoyun.domain.dataBaseType.BankCardInfo">
        select card_id,card_number,balance,is_active from bank_card where customer_id = #{customerId} and is_bind = 1;
    </select>
    <select id="selectCustomerInfo" resultType="com.liaoyun.domain.dataBaseType.CustomerInfo">
        select surname,name, phone_number, identity_card, is_active from customer where customer_id = #{customerId}
    </select>
    <select id="selectBalanceByCardNumber" resultType="java.math.BigDecimal">
        select balance from bank_card wherr card_number = #{cardNumber}
    </select>
    <select id="selectCardInfoByCardNumber" resultType="com.liaoyun.domain.dataBaseType.BankCardInfo">
        select card_id,customer_id, card_number, reserve_phone_number,card_holder_name ,balance,is_active from bank_card
        where card_number = #{cardNumber}
    </select>

    <select id="selectPasswordByUserId" resultType="com.liaoyun.domain.dataBaseType.AccountUserPassword">
        select * from app_user_password where user_id = #{userId}
    </select>
    <select id="selectCustomerInfoExists" resultType="java.lang.Boolean">
    select exists(
        select customer_id from customer
        <where>
            <if test="identityCard != null">
                identity_card = #{identityCard}
            </if>
        </where>
        )
    </select>
    <select id="selectIdentityExits" resultType="java.lang.Boolean">
        select count(*) from app_user_info where identity_card = #{identityCard}
    </select>
    <select id="selectPaymentPassword" resultType="java.lang.String">
        select payment_password as paymentPassword
        from app_user_payment_password
        where user_id = #{userId}
    </select>

</mapper>